@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00ff41;
}

@layer base {
  body {
    @apply bg-black text-primary overflow-x-hidden;
  }
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.via-primary {
  --tw-gradient-via-color: var(--primary);
}


/* Add this at the end of the file */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}